option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    AWS_REGION: "ap-south-1"
    TABLE_PREFIX: "ai-learning-"
    STRICT_MODE: "false"
