packages:
  yum:
    gcc: []
    python3-devel: []
    libffi-devel: []
    openssl-devel: []
    libjpeg-turbo-devel: []
    zlib-devel: []

container_commands:
  01_upgrade_pip:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --upgrade pip"
    ignoreErrors: true
  02_install_requirements:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install -r requirements.txt"
    ignoreErrors: false
